## Preprocessing

In [27]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [28]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

del application_df['EIN']
del application_df['NAME']
del application_df['ORGANIZATION']

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1

In [29]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [30]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for i in application_df['APPLICATION_TYPE']: 
    if i not in application_types_to_replace and application_df['APPLICATION_TYPE'].value_counts()[i] < 100: 
        application_types_to_replace.append(i)
        
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_to_replace = []

for i in application_df['CLASSIFICATION']: 
    if i not in classification_to_replace and application_df['CLASSIFICATION'].value_counts()[i] < 500: 
        classification_to_replace.append(i)

# Replace in dataframe
for cls in classification_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
print(application_dummies.columns)
application_dummies

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [38]:
# Split our preprocessed data into our features and target arrays
y = application_dummies.IS_SUCCESSFUL.values
X = application_dummies.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [43]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim = 41))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3360

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,821
Trainable params: 5,821
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [45]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 914us/step - loss: 0.5770 - accuracy: 0.7185
Epoch 2/150
804/804 [==============================] - 1s 883us/step - loss: 0.5630 - accuracy: 0.7272
Epoch 3/150
804/804 [==============================] - 1s 875us/step - loss: 0.5606 - accuracy: 0.7279
Epoch 4/150
804/804 [==============================] - 1s 876us/step - loss: 0.5590 - accuracy: 0.7284
Epoch 5/150
804/804 [==============================] - 1s 888us/step - loss: 0.5575 - accuracy: 0.7290
Epoch 6/150
804/804 [==============================] - 1s 883us/step - loss: 0.5573 - accuracy: 0.7300
Epoch 7/150
804/804 [==============================] - 1s 886us/step - loss: 0.5569 - accuracy: 0.7298
Epoch 8/150
804/804 [==============================] - 1s 905us/step - loss: 0.5560 - accuracy: 0.7309
Epoch 9/150
804/804 [==============================] - 1s 892us/step - loss: 0.5561 - accuracy: 0.7300
Epoch 10/150
804/804 [==============================] - 1s 904us/step - loss: 0.5552 - accuracy: 0.7304
Epoch 11/150
804/804 [==============================] - 1s 899us/step - loss: 0.5554 - accuracy: 0.7311
Epoch 12/150
804/804 [==============================] - 1s 955us/step - loss: 0.5545 - accuracy: 0.7304
Epoch 13/150
804/804 [==============================] - 1s 911us/step - loss: 0.5547 - accuracy: 0.7311
Epoch 14/150
804/804 [==============================] - 1s 886us/step - loss: 0.5543 - accuracy: 0.7316
Epoch 15/150
804/804 [==============================] - 1s 862us/step - loss: 0.5538 - accuracy: 0.7304
Epoch 16/150
804/804 [==============================] - 1s 866us/step - loss: 0.5538 - accuracy: 0.7317
Epoch 17/150
804/804 [==============================] - 1s 861us/step - loss: 0.5541 - accuracy: 0.7310
Epoch 18/150
804/804 [==============================] - 1s 916us/step - loss: 0.5534 - accuracy: 0.7310
Epoch 19/150
804/804 [==============================] - 1s 883us/step - loss: 0.5534 - accuracy: 0.7311
Epoch 20/150
804/804 [==============================] - 1s 885us/step - loss: 0.5531 - accuracy: 0.7315
Epoch 21/150
804/804 [==============================] - 1s 861us/step - loss: 0.5527 - accuracy: 0.7313
Epoch 22/150
804/804 [==============================] - 1s 872us/step - loss: 0.5531 - accuracy: 0.7321
Epoch 23/150
804/804 [==============================] - 1s 862us/step - loss: 0.5525 - accuracy: 0.7317
Epoch 24/150
804/804 [==============================] - 1s 865us/step - loss: 0.5531 - accuracy: 0.7311
Epoch 25/150
804/804 [==============================] - 1s 929us/step - loss: 0.5526 - accuracy: 0.7320
Epoch 26/150
804/804 [==============================] - 1s 888us/step - loss: 0.5523 - accuracy: 0.7320
Epoch 27/150
804/804 [==============================] - 1s 866us/step - loss: 0.5523 - accuracy: 0.7321
Epoch 28/150
804/804 [==============================] - 1s 865us/step - loss: 0.5520 - accuracy: 0.7326
Epoch 29/150
804/804 [==============================] - 1s 864us/step - loss: 0.5516 - accuracy: 0.7322
Epoch 30/150
804/804 [==============================] - 1s 920us/step - loss: 0.5520 - accuracy: 0.7326
Epoch 31/150
804/804 [==============================] - 1s 896us/step - loss: 0.5517 - accuracy: 0.7319
Epoch 32/150
804/804 [==============================] - 1s 861us/step - loss: 0.5513 - accuracy: 0.7337
Epoch 33/150
804/804 [==============================] - 1s 863us/step - loss: 0.5514 - accuracy: 0.7315
Epoch 34/150
804/804 [==============================] - 1s 862us/step - loss: 0.5513 - accuracy: 0.7334
Epoch 35/150
804/804 [==============================] - 1s 882us/step - loss: 0.5513 - accuracy: 0.7318
Epoch 36/150
804/804 [==============================] - 1s 911us/step - loss: 0.5513 - accuracy: 0.7324
Epoch 37/150
804/804 [==============================] - 1s 889us/step - loss: 0.5512 - accuracy: 0.7329
Epoch 38/150
804/804 [==============================] - 1s 861us/step - loss: 0.5506 - accuracy: 0.7326
Epoch 39/150
804/804 [==============================] - 1s 865us/step - loss: 0.5509 - accuracy: 0.7317
Epoch 40/150
804/804 [==============================] - 1s 866us/step - loss: 0.5504 - accuracy: 0.7325
Epoch 41/150
804/804 [==============================] - 1s 864us/step - loss: 0.5506 - accuracy: 0.7321
Epoch 42/150
804/804 [==============================] - 1s 862us/step - loss: 0.5507 - accuracy: 0.7332
Epoch 43/150
804/804 [==============================] - 1s 870us/step - loss: 0.5504 - accuracy: 0.7332
Epoch 44/150
804/804 [==============================] - 1s 863us/step - loss: 0.5504 - accuracy: 0.7333
Epoch 45/150
804/804 [==============================] - 1s 929us/step - loss: 0.5503 - accuracy: 0.7331
Epoch 46/150
804/804 [==============================] - 1s 903us/step - loss: 0.5504 - accuracy: 0.7331
Epoch 47/150
804/804 [==============================] - 1s 902us/step - loss: 0.5503 - accuracy: 0.7327
Epoch 48/150
804/804 [==============================] - 1s 892us/step - loss: 0.5500 - accuracy: 0.7336
Epoch 49/150
804/804 [==============================] - 1s 880us/step - loss: 0.5501 - accuracy: 0.7336
Epoch 50/150
804/804 [==============================] - 1s 866us/step - loss: 0.5499 - accuracy: 0.7329
Epoch 51/150
804/804 [==============================] - 1s 860us/step - loss: 0.5500 - accuracy: 0.7328
Epoch 52/150
804/804 [==============================] - 1s 865us/step - loss: 0.5497 - accuracy: 0.7337
Epoch 53/150
804/804 [==============================] - 1s 889us/step - loss: 0.5496 - accuracy: 0.7331
Epoch 54/150
804/804 [==============================] - 1s 857us/step - loss: 0.5498 - accuracy: 0.7332
Epoch 55/150
804/804 [==============================] - 1s 863us/step - loss: 0.5493 - accuracy: 0.7332
Epoch 56/150
804/804 [==============================] - 1s 859us/step - loss: 0.5495 - accuracy: 0.7342
Epoch 57/150
804/804 [==============================] - 1s 871us/step - loss: 0.5495 - accuracy: 0.7337
Epoch 58/150
804/804 [==============================] - 1s 938us/step - loss: 0.5493 - accuracy: 0.7336
Epoch 59/150
804/804 [==============================] - 1s 918us/step - loss: 0.5494 - accuracy: 0.7336
Epoch 60/150
804/804 [==============================] - 1s 925us/step - loss: 0.5492 - accuracy: 0.7340
Epoch 61/150
804/804 [==============================] - 1s 951us/step - loss: 0.5493 - accuracy: 0.7338
Epoch 62/150
804/804 [==============================] - 1s 933us/step - loss: 0.5491 - accuracy: 0.7337
Epoch 63/150
804/804 [==============================] - 1s 901us/step - loss: 0.5491 - accuracy: 0.7347
Epoch 64/150
804/804 [==============================] - 1s 913us/step - loss: 0.5490 - accuracy: 0.7338
Epoch 65/150
804/804 [==============================] - 1s 915us/step - loss: 0.5493 - accuracy: 0.7340
Epoch 66/150
804/804 [==============================] - 1s 930us/step - loss: 0.5488 - accuracy: 0.7341
Epoch 67/150
804/804 [==============================] - 1s 929us/step - loss: 0.5491 - accuracy: 0.7335
Epoch 68/150
804/804 [==============================] - 1s 919us/step - loss: 0.5487 - accuracy: 0.7339
Epoch 69/150
804/804 [==============================] - 1s 909us/step - loss: 0.5494 - accuracy: 0.7335
Epoch 70/150
804/804 [==============================] - 1s 899us/step - loss: 0.5487 - accuracy: 0.7350
Epoch 71/150
804/804 [==============================] - 1s 942us/step - loss: 0.5488 - accuracy: 0.7328
Epoch 72/150
804/804 [==============================] - 1s 926us/step - loss: 0.5489 - accuracy: 0.7345
Epoch 73/150
804/804 [==============================] - 1s 925us/step - loss: 0.5486 - accuracy: 0.7344
Epoch 74/150
804/804 [==============================] - 1s 928us/step - loss: 0.5490 - accuracy: 0.7341
Epoch 75/150
804/804 [==============================] - 1s 913us/step - loss: 0.5484 - accuracy: 0.7343
Epoch 76/150
804/804 [==============================] - 1s 898us/step - loss: 0.5488 - accuracy: 0.7343
Epoch 77/150
804/804 [==============================] - 1s 904us/step - loss: 0.5485 - accuracy: 0.7334
Epoch 78/150
804/804 [==============================] - 1s 966us/step - loss: 0.5485 - accuracy: 0.7341
Epoch 79/150

804/804 [==============================] - 1s 924us/step - loss: 0.5481 - accuracy: 0.7346
Epoch 80/150
804/804 [==============================] - 1s 926us/step - loss: 0.5481 - accuracy: 0.7339
Epoch 81/150
804/804 [==============================] - 1s 922us/step - loss: 0.5483 - accuracy: 0.7341
Epoch 82/150
804/804 [==============================] - 1s 933us/step - loss: 0.5484 - accuracy: 0.7343
Epoch 83/150
804/804 [==============================] - 1s 904us/step - loss: 0.5486 - accuracy: 0.7341
Epoch 84/150
804/804 [==============================] - 1s 895us/step - loss: 0.5483 - accuracy: 0.7338
Epoch 85/150
804/804 [==============================] - 1s 892us/step - loss: 0.5482 - accuracy: 0.7344
Epoch 86/150
804/804 [==============================] - 1s 975us/step - loss: 0.5483 - accuracy: 0.7337
Epoch 87/150
804/804 [==============================] - 1s 929us/step - loss: 0.5484 - accuracy: 0.7339
Epoch 88/150
804/804 [==============================] - 1s 996us/step - loss: 0.5480 - accuracy: 0.7345
Epoch 89/150
804/804 [==============================] - 1s 932us/step - loss: 0.5479 - accuracy: 0.7338
Epoch 90/150
804/804 [==============================] - 1s 893us/step - loss: 0.5480 - accuracy: 0.7344
Epoch 91/150
804/804 [==============================] - 1s 898us/step - loss: 0.5479 - accuracy: 0.7344
Epoch 92/150
804/804 [==============================] - 1s 938us/step - loss: 0.5479 - accuracy: 0.7343
Epoch 93/150
804/804 [==============================] - 1s 866us/step - loss: 0.5480 - accuracy: 0.7338
Epoch 94/150
804/804 [==============================] - 1s 892us/step - loss: 0.5485 - accuracy: 0.7341
Epoch 95/150
804/804 [==============================] - 1s 874us/step - loss: 0.5478 - accuracy: 0.7348
Epoch 96/150
804/804 [==============================] - 1s 874us/step - loss: 0.5479 - accuracy: 0.7338
Epoch 97/150
804/804 [==============================] - 1s 855us/step - loss: 0.5479 - accuracy: 0.7340
Epoch 98/150
804/804 [==============================] - 1s 839us/step - loss: 0.5479 - accuracy: 0.7338
Epoch 99/150
804/804 [==============================] - 1s 854us/step - loss: 0.5478 - accuracy: 0.7345
Epoch 100/150
804/804 [==============================] - 1s 871us/step - loss: 0.5482 - accuracy: 0.7339
Epoch 101/150
804/804 [==============================] - 1s 869us/step - loss: 0.5481 - accuracy: 0.7341
Epoch 102/150
804/804 [==============================] - 1s 897us/step - loss: 0.5478 - accuracy: 0.7344
Epoch 103/150
804/804 [==============================] - 1s 867us/step - loss: 0.5477 - accuracy: 0.7343
Epoch 104/150
804/804 [==============================] - 1s 854us/step - loss: 0.5473 - accuracy: 0.7346
Epoch 105/150
804/804 [==============================] - 1s 880us/step - loss: 0.5480 - accuracy: 0.7344
Epoch 106/150
804/804 [==============================] - 1s 868us/step - loss: 0.5477 - accuracy: 0.7328
Epoch 107/150
804/804 [==============================] - 1s 872us/step - loss: 0.5476 - accuracy: 0.7342
Epoch 108/150
804/804 [==============================] - 1s 865us/step - loss: 0.5477 - accuracy: 0.7341
Epoch 109/150
804/804 [==============================] - 1s 885us/step - loss: 0.5474 - accuracy: 0.7345
Epoch 110/150
804/804 [==============================] - 1s 893us/step - loss: 0.5473 - accuracy: 0.7340
Epoch 111/150
804/804 [==============================] - 1s 929us/step - loss: 0.5474 - accuracy: 0.7346
Epoch 112/150
804/804 [==============================] - 1s 918us/step - loss: 0.5473 - accuracy: 0.7336
Epoch 113/150
804/804 [==============================] - 1s 905us/step - loss: 0.5475 - accuracy: 0.7346
Epoch 114/150
804/804 [==============================] - 1s 916us/step - loss: 0.5473 - accuracy: 0.7343
Epoch 115/150
804/804 [==============================] - 1s 936us/step - loss: 0.5472 - accuracy: 0.7341
Epoch 116/150
804/804 [==============================] - 1s 980us/step - loss: 0.5473 - accuracy: 0.7340
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7338
Epoch 118/150
804/804 [==============================] - 1s 974us/step - loss: 0.5471 - accuracy: 0.7343
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7347
Epoch 120/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7348
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7346
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7344
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7343
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7346
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7344
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7339
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7343
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7346
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7345
Epoch 130/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7352
Epoch 131/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7340
Epoch 132/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7344
Epoch 133/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7343
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7348
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7341
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7345
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7345
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7351
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7346
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7345
Epoch 141/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7350
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7346
Epoch 143/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7349
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7353
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7347
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7346
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7344
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7348
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7348
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7353

In [46]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5757 - accuracy: 0.7210 - 277ms/epoch - 1ms/step
Loss: 0.5757244229316711, Accuracy: 0.7210495471954346

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE